In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [ ]:
### SPLIT THE DATA INTO TRAINING AND TESTING SETS

In [ ]:
## STEP 1: READ THE DATA FROM RESOURCES INTO A PANDAS DATAFRAME

In [11]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data = r'C:\Users\ellio\Documents\module_20_challenge\credit-risk-classification\Credit_Risk\Starter_Code\Resources\lending_data.csv'
lending_df = pd.read_csv(lending_data)

# Review the DataFrame
display(lending_df.head())
# statistics
lending_df.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.032243
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.176646
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000

In [ ]:
## STEP 2: CREATE LABELS FROM THE LOAN_STATUS COLUMN AND CREATE FEATURES DATAFRAME FROM REMAINING COLUMNS

In [12]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_df['loan_status']

# Separate the X variable, the features
X = lending_df.drop(columns=['loan_status'])

In [13]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [14]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [ ]:
## STEP 3: CHECK THE BALANCE OF THE LABELS VARIABLE USING THE VALUE_COUNTS FUNCTION.

In [ ]:
# Check the balance of our target values
# YOUR CODE HERE!

In [ ]:
## STEP 4: SPLIT THE DATA INTO TRAINING AND TESTING DATASETS USING TRAIN_TEST_SPLIT

In [ ]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!

In [ ]:
### CREATE A LOGIC REGRRESSION MODEL WITH THE ORIGINAL DATA

In [ ]:
## STEP 1: FIT A LOGISTIC REGRESSION MODEL USING THE TRAINING DATA

In [ ]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using training data
# YOUR CODE HERE!

In [ ]:
## STEP 2: SAVE THE PREDICTIONS ON THE TESTING DATA BY USING THE TESTING FEATURE DATA AND THE FITTED MODEL

In [ ]:
# Make a prediction using the testing data

In [ ]:
## STEP 3: ELAVULATE THE MODEL'S PERFORMANCE BY DOING THE FOLLOWING:

In [ ]:
## Calculate the accuracy score of the model.
## Generate a confusion matrix
## Print the classification report

In [ ]:
# Print the balanced_accuracy score of the model

In [ ]:
# Generate a confusion matrix for the model

In [ ]:
# Print the classification report for the model
# YOUR CODE HERE!

In [ ]:
## STEP 4: 
# QUESTION: HOW WELL DOES THE LOGISTIC REGRESSION MODEL PREDICT BOTH THE 0 AND 1 LABELS?
# ANSWER:

In [ ]:
### PREDICT A LOGISTIC REGRESSION MODEL WITH RESAMPLED TRAINING DATA

In [ ]:
## STEP 1: USE THE RANDOMOVERSAMPLER MODULE FROM THE IMBALANCED-LEARN LIBRARY TO RESAMPLE THE DATA

In [ ]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!

In [ ]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!

In [ ]:
## STEP 2: USE THE LOGISTICREGRESSION CLASSIFIER AND THE RESAMPLED DATA TO FIT THE MODEL AND MAKE PREDICTIONS

In [ ]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using the resampled training data
# YOUR CODE HERE!

# Make a prediction using the testing data
# YOUR CODE HERE!

In [ ]:
## STEP 3: EVALUATE THE MODEL'S PERFORMANCE BY DOING THE FOLLOWING:
## Calculate the accuracy score of the model
## Generate a confusion matrix

In [ ]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!

In [ ]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [ ]:
# Print the classification report for the model
# YOUR CODE HERE!

In [ ]:
## STEP 4: 
## QUESTION: HOW WELL DOES THE LOGISTIC REGRESSION MODEL PREDICT BOTH THE 0 AND 1 LABELS?
## ANSWER: